@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

$primaryBackground: #E0E0E0;
$secondaryBackground: #004B76;
$secondaryBackgroundHover: rgba(0, 112, 155, 0.9);
$secondaryBackgroundTransparent: #f3f9fd; //rgba(0, 112, 155, 0.07);
$secondaryFont: white;
$fontColorLight: gray;
$headlineColor: #CD5038;
$borderStyle: 1px solid #305971; //rgba(0, 75, 118, 0.6);
$borderColor: #305971; //rgba(0, 75, 118, 0.6);
$borderRadius: 4px;

.rotationsplaner {
  .container {
    @include ms-Grid;
    max-width: 700px;
    margin: 0px auto;
  }

  .row {
    @include ms-Grid-row;
  }

  .column {
     @include ms-Grid-col;
     @include ms-lg10;
     @include ms-xl8;
     @include ms-xlPush2;
     @include ms-lgPush1;
   }

  .half-column, .half_column {
    @include ms-Grid-col;
    @include ms-lg6;
    @include ms-md12;
  }

  .halfColumnSm {
    @include ms-Grid-col;
    @include ms-md6;
    @include ms-sm12;
  }

  .sixth-column, .sixth_column {
    @include ms-Grid-col;
    @include ms-lg2;
    @include ms-md2;
    @include ms-sm4;
  }

  .quarter-column, .quarter_column {
    @include ms-Grid-col;
    @include ms-lg3;
    @include ms-md3;
    @include ms-sm3;
  }

  .threequarter-column, .threequarter_column {
    @include ms-Grid-col;
    @include ms-lg9;
    @include ms-md9;
    @include ms-sm9;
  }

  .questionnareSection {

    .contentVisible {
      background: $secondaryBackgroundTransparent;
    }

    .questionnaire {
      display: inline-block;
      $verticalMargin: 1.5em;

      .questionnaireSubsection {
        margin-top: $verticalMargin;
        margin-bottom: $verticalMargin;

        .question {
          @include ms-fontWeight-bold;
        }

        > button {
          margin: 0;
        }
      }
    }
  }


  h1 {
    color: $headlineColor;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontWeight-semibold;
    color: black;
  }

  .subTitle {
    @include ms-font-l;
    color: black;
  }

  .description {
    @include ms-font-l;
    color: black;
  }

  .resetLink {
    float: right;
    font-weight: $ms-font-weight-bold;
    text-decoration: underline;
    cursor: pointer;
    color: $ms-color-blue;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }

  button.isToggled:hover {
    color: white;
    background-color: $ms-color-themeDark;
  }

  .toggleButtonGroup {
    $margin: 0.5em;
    margin: -$margin;

    > button {
      margin: $margin;
    }
  }

  .bigButton {
    height: 3rem;
  }

  .expandIcon {
    transition: all 0.25s ease-out;
  }
  .expandIconRotate {
    transition: all 0.25s ease-out;
    transform: rotate(90deg);
  }
  .expandIconHighlighted {
    transition: all 0.25s ease-out;
    background: $primaryBackground;
  }

  .showMoreTasks {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 1em 0;
    cursor: pointer;
    color: $fontColorLight;

    &:after, &:before {
      content: '';
      display: inline-block;
      margin: 0 2em;
      margin-bottom: .25em;
      width: 150px;
      height: 1px;

      //border-bottom: 5px dotted $fontColorLight; // alternatively use border - however space between dots cannot be increaded
      background-image: linear-gradient(to right, $fontColorLight 10%, rgba(255,255,255,0) 0%);
      background-position: bottom;
      background-size: 10px 1px;
      background-repeat: repeat-x;
    }
  }

  .checklistItemWrapper {
    background-color: $secondaryBackgroundTransparent;
    border-radius: $borderRadius;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    margin: 0.5em 0;
    padding: .2em .5em .2em 1em;
    max-width: 100%;

    .strikeThrough {
      text-decoration: line-through;
    }

    .checklistItemPrimary {
      flex-grow: 1;
      display: -ms-inline-flexbox;  /* IE 10 */
      display: inline-flex;
      max-width: 100%;

      input {
        margin: 1em;
      }

      .editSaveButton {
        margin-top: 0.5em;
        height: 2em;
      }
    }

    .checklistCheckbox {
      padding-top: 3px;
      margin-right: 1em;
    }

    .primaryLabel {
      display: -ms-inline-flexbox;
      display: block;
      display: inline-flex;
      align-items: center;
      flex-shrink: 1;
    }

    .checklistButton {
      margin: 0.3em;
      border-radius: $borderRadius; //20px;
    }

    .headerButton {
      @extend .checklistButton;
      float: right;
    }

    .archiveButton {
      @extend .checklistButton;
      transition: background-color 0.25s ease-out;

      &:hover {
        transition: background-color 0.25s ease-out;
        background: $secondaryBackground;

        i {
          color: white;
        }
      }
    }
  }

  .transparentItem {
    opacity: 0.5;
    transition: all 0.25s ease-out;

    &:hover {
      transition: all 0.25s ease-out;
      opacity: 0.9;
    }
  }

  .addableItem {
    @extend .transparentItem;
    background: transparent;
    border: 1px dashed $fontColorLight;
  }


  .checklistItemContent {
    padding: inherit;
    margin: 0.01em; // just to ensure proper boundaries
    border: $borderStyle;
  }

  .checklistItemContent.contentVisible {
    margin-bottom: 0.5em;
  }


  .checklistItemHeaderWrapper {
    flex-direction: row;
    width: 100%;
  }

  .checklistItemDetailsWrapper {
    display: -ms-flexbox;
    display: flex;
  }

  .checklistItemInfo {
    // this can be removed
    text-align: left;
  }


  .collapse {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    border: 1px solid $secondaryBackground;
    border-radius: $borderRadius;
    color: black;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;

    i {
      color: $borderColor;
    }

    .header {
      padding: 1em;
      display: block;
    }

    .contentVisible {
      padding: 0 2em 2em 2em;
    }
  }

  .contentHidden {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 0.25s ease-out;
  }

  .contentVisible {
    opacity: 1;
    transition: opacity 0.25s ease-out;
  }

  .progress {
    float: right;
    color: $fontColorLight;
  }

  .autoComplete {
    display: block;
    margin: 1em 0 1em 0;
  }

  .expansionButton {
    // remove focus outline on icon Button
    &:after {
      display: none !important;
    }
  }

  .infoTileSection {
    display: -ms-flexbox;
    display: flex;

    .infoTile {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row;
      background: $secondaryBackground;
      color: $secondaryFont;
      padding: 1em;
      margin: 1em;
      width: 200px;
      border-radius: $borderRadius;
      cursor: pointer;
      transition: background-color 0.25s ease-out;

      &:hover {
        transition: background-color 0.25s ease-out;
        background: $secondaryBackgroundHover;
      }

      .textContainer {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        flex-grow: 2;

        .primaryText {
          font-weight: bolder;
        }

        .secondaryText {
          font-weight: lighter;
          font-size: smaller;
        }
      }

      i {
        color: $secondaryFont;
      }
    }
  }
}
