@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

$primaryBackground: #E0E0E0;
$secondaryBackground: #F2F2F2;

.rotationsplaner {
  .container {
    max-width: 700px;
    margin: 0px auto;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-black;
    background-color: $ms-color-white;
  }

  .column {
     @include ms-Grid-col;
     @include ms-lg10;
     @include ms-xl8;
     @include ms-xlPush2;
     @include ms-lgPush1;
   }

  .half-column {
    @include ms-Grid-col;
    @include ms-lg6;
    @include ms-md12;
  }

  .header {
    @extend .half-column;
    background-color: $primaryBackground;
    padding: 1em;
  }

  .title {
    @include ms-font-xl;
    color: black;
  }

  .subTitle {
    @include ms-font-l;
    color: black;
  }

  .description {
    @include ms-font-l;
    color: black;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }

  .arrowRight {
    transition: all 0.5s ease-in-out;
  }
  .arrowDown {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
  }

  .checklistItem {
    background-color: $secondaryBackground;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1em;
  }

  .checklistSection {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: $primaryBackground;
    margin-top: 1em;
    margin-bottom: 1em;

    .header {
      padding-bottom: 1em;
    }

    .sectionContentHidden {
      overflow: hidden;
      height: 0;
      opacity: 0;
      transition: opacity 0.25s ease-out;
    }

    .sectionContentVisible {
      padding: 1em;
      opacity: 1;
      transition: opacity 0.25s ease-out;
    }
  }

  .progress {
    float: right;
  }
}
